---
import icons from '@assets/icons';

// noinspection JSUnusedGlobalSymbols
export const prerender: boolean = true;

import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Hammad Majid"
            description="My name is Hammad Majid and I'm a Computer Science student from Islamabad. I'm currently doing front-end web development as a freelancer.">
  <main id="main-content" class="p-4 space-y-8">
    <section class="space-y-4">
      <div class="flex flex-row items-center gap-1">
        <h1 class="text-2xl font-bold">Bine</h1>
        <!--suppress HtmlUnknownTarget -->
        <a href="/rss.xml" class="fill-light-accent hover:fill-light-accent-hover">
          <Fragment set:html={icons.rss} />
          <span class="sr-only">RSS Feed</span>
        </a>
      </div>
      <p class="text-justify">
        My name is Hammad Majid and I'm a Computer Science student from Islamabad. I'm currently doing front-end web development as a freelancer.
      </p>
      <p class="text-justify">
        On this website you can find information about me, projects I have worked on and blog posts I have written. I
        write mostly about
        stuff I find interesting so there is no specific theme. These topics might include: low level programming, web
        technologies, physics, mathematics
        and tea recipes.
      </p>
      <div class="flex flex-row items-center justify-start gap-2">
        <p>Social links: </p>
        <a href="https://github.com/hammadmajid" target="_blank" rel="noopener noreferrer" class="fill-light-accent hover:fill-light-accent-hover">
          <Fragment set:html={icons.Github} />
          <span class="sr-only">GitHub</span>
        </a>
        <a href="https://linkedin.com/in/hammadmajid" target="_blank" rel="noopener noreferrer" class="fill-light-accent hover:fill-light-accent-hover">
          <Fragment set:html={icons.LinkedIn} />
          <span class="sr-only">LinkedIn</span>
        </a>
        <a href="https://instagram.com/hammadmajid_" target="_blank" rel="noopener noreferrer" class="fill-light-accent hover:fill-light-accent-hover">
          <Fragment set:html={icons.Instagram} />
          <span class="sr-only">Instagram</span>
        </a>
        <a href="/contact" class="fill-light-accent hover:fill-light-accent-hover">
          <Fragment set:html={icons.Mail} />
          <span class="sr-only">E-mail</span>
        </a>
      </div>
    </section>
    <section class="space-y-4">
      <h2 class="text-xl font-bold">Posts</h2>
      <p class="text-center">Not posts yet.</p>
    </section>
  </main>
</BaseLayout>
