---
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import icons from '@assets/icons';

const allProjects = await getCollection('projects');
---

<BaseLayout title="Projects" description="List of all the project I have worked on so far.">
  <main class="p-8 space-y-4">
    <h1 class="text-3xl font-bold">Projects</h1>
    <section class="grid md:grid-cols-2 place-items-center gap-4">
      {allProjects.map((project) => (
        <div class="shadow-xl space-y-2 hover:shadow-2xl hover:tra transition-all rounded-md p-4">
          <div class="flex flex-row items-center justify-between">
            <h2 class="font-semibold text-lg">{project.data.title}</h2>
            <p>{project.data.status}</p>
          </div>
          <p>{project.data.description}</p>
          <ul>
            {project.data.tags.map((tag) => (
              <li>
                <a href={`/projects/?${tag}`} class="text-light-accent">{tag}</a>
              </li>
            ))}
          </ul>
          <div class="flex flex-row gap-1">
            <a href={project.data.source} class="w-max hover:fill-light-accent">
              <Fragment set:html={icons.Github} />
            </a>
            <a href={project.data.website} class="w-max hover:fill-light-accent">
              <Fragment set:html={icons.Web} />
            </a>
          </div>
        </div>
      ))}
    </section>
  </main>
</BaseLayout>
